/* تنسيق الخريطة لتغطية كامل الحاوية */
#map {
    width: 100%;
    height: 100%; /* لتمديد الخريطة لتأخذ كامل ارتفاع الكارد */
}

/* إزالة الهوامش والحشوات من الكارد */
.card {
    margin: 0; /* إزالة الهوامش */
    padding: 0; /* إزالة الحشوات */
    height: 100%; /* التأكد من ملء الكارد */
}

/* تخصيص عرض وارتفاع الكاردات */
.map-container {
    width: 60%; /* 60% للخريطة */
    height: 100vh; /* ملء كامل ارتفاع الشاشة */
    float: left;
}

.details-container {
    width: 40%; /* 40% للتفاصيل */
    height: 100vh; /* ملء كامل ارتفاع الشاشة */
    float: left;
}

/* تنسيق داخل كارد التفاصيل */
.details-container .card-body {
    background-color: #a1c2c7; /* لون الخلفية */
     border-radius: 8px; /* زوايا مستديرة */
}

/* استخدام clearfix للتأكد من عدم وجود تسرب */
.row::after {
    content: "";
    display: table;
    clear: both;
    
}
.row {

    margin: 0;
}
#image-container {
    width: 100%; /* اجعل الحاوية تأخذ كامل عرض الكونتينر */
    height: 400px; /* يمكنك تغيير هذا الارتفاع حسب ما تراه مناسباً */
    overflow: hidden; /* لإخفاء أي جزء من الصورة يخرج عن حدود الحاوية */
    position: relative; /* لجعل الصور تتداخل بشكل مناسب */
}

.listing-image {
    width: 100%; /* اجعل الصورة تأخذ كامل عرض الحاوية */
    height: auto; /* احفظ نسبة العرض إلى الارتفاع */
    display: none; /* اجعلها مخفية بشكل افتراضي */
    position: absolute; /* لجعل الصور تتداخل فوق بعضها البعض */
    top: 0; /* اجعلها تبدأ من أعلى */
    left: 0; /* اجعلها تبدأ من اليسار */
    object-fit: contain; /* اجعل الصورة تتناسب مع حجم الحاوية دون الزوم */
}


/* تصميم استجابة بحيث تكون الكاردات تحت بعضها في الشاشات الصغيرة */
@media (max-width: 768px) {
    .map-container,
    .details-container {
        width: 100%; /* عرض كامل للكارت */
        float: none; /* إلغاء الخاصية العائمة */
        height: 90vh; /* كل كارد يأخذ نصف الشاشة في الارتفاع */
        margin-bottom: 20px; /* فراغ بين الكاردات */
    }
}
