<!-- auth.html -->
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسجيل الدخول</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">قم بالتسجيل الأن لاستخدام خدماتنا </h2>
        <p class="text-center">يمكنك إن شاء حساب مجاني  الأن </p>
        <div class="text-center">
            <a href="auth/login" class="btn btn-primary" id="start-button">تسجيل الدخول</a>
        </div>
    </div>
</body>
</html>
