<div class="row justify-content-center">
    <div class="col-md-4 col-sm-6 col-10">
        <div class="card shadow-sm mb-4">
            <div class="card-body text-center">
                <h5 class="card-title">شقق الايجار بالقرب من الجامعات </h5>
                <!-- <p class="card-text">اضف جملة هنا </p> -->
                <img src="../home-images/house1.jpg" class="card-img-top" alt="House 1">
                <a href="rental" class="btn btn-primary">عرض الشقق المتاحة</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-10">
        <div class="card shadow-sm mb-4">
            <div class="card-body text-center">
                <h5 class="card-title">سرير فردي اوغرفة فردية للإيجار بالقرب من الجامعات</h5>
                <img src="../home-images/house2.jpg" class="card-img-top" alt="House 2">
                <a href="rental" class="btn btn-primary">عرض الغرف المتاحة </a>
            </div>
        </div>
    </div>
</div>
