<footer class="bg-primary text-white text-center py-3 mt-5">
    <p>© كل الحقوق محفوظة </p>
    <p>تم التطوير بواسطة فريق مختص </p>
    <p>0155 456 0903</p>
    <p>ashams3719262@gmail.com</p>
</footer>
