<div class="hero-image d-flex flex-column align-items-center justify-content-center text-center">
    <img src="../home-images/bg-image.jpg" class="bg-image" alt="background image">
    
    <div class="overlay d-flex flex-column align-items-center justify-content-center">
        <h1 class="display-4 text-light mb-4">ابحث عن المسكن المثالي لك</h1>
        <!-- Search Box -->
        <div class="search-box p-3 rounded shadow">
            <form class="form-inline">
                <input type="text" class="form-control mr-2" placeholder="ابحث عن موقع، مدينة أو نوع العقار">
                <button type="submit" class="btn btn-primary">بحث</button>
            </form>
        </div>
    </div>
</div>
